# Machine Learning and Preprocessing
pandas
numpy
matplotlib
seaborn

# ML Framework (pip-installed from GitLab)
ml_framework @ git+https://gitlab2.informatik.uni-wuerzburg.de/hci/teaching/courses/machine-learning/student-submissions/ws25/Team-31/ml-package.git

# Live Video
opencv-python
mediapipe==0.10.14
sanic
websockets==13.1

# Utilities
pyyaml
tqdm
jupyter

fastapi
uvicorn